<header class="header">
  <div class="container">
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="./timer-page.html" class="nav-link">ClassWork-Timer</a>
        </li>

        <li class="nav-item">
          <a href="./promises-page.html" class="nav-link">Classwork-Promise</a>
        </li>

        <li class="nav-item">
          <a href="./todos-page.html" class="nav-link">Todos-Fetch</a>
        </li>

        <li class="nav-item">
          <a href="./images-page.html" class="nav-link">Images-Fetch</a>
        </li>

        <li class="nav-item">
          <a href="./lightbox-page.html" class="nav-link">Lightbox</a>
        </li>
        <li class="nav-item">
          <a href="./library-page.html" class="nav-link">libraryPage</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
